---
  BasedOnStyle: Google
  Language: Cpp
  AccessModifierOffset: 0
  IndentAccessModifiers: true
  PPIndentWidth: 4
  ReferenceAlignment: Left
  PointerAlignment: Left
  QualifierAlignment: Custom
  QualifierOrder:
    - inline
    - static
    - constexpr
    - const
    - volatile
    - type
  AlignTrailingComments: true
  AllowShortIfStatementsOnASingleLine: Never
  AllowAllParametersOfDeclarationOnNextLine: false
  AlwaysBreakTemplateDeclarations: Yes
  BreakBeforeBraces: Attach
  ColumnLimit: 100
  ConstructorInitializerAllOnOneLineOrOnePerLine: true
  IncludeBlocks: Regroup
  IndentPPDirectives: BeforeHash
  IndentWidth: 4
  NamespaceIndentation: All
  BreakBeforeBinaryOperators: All
  BreakBeforeTernaryOperators: true
  AlignOperands: AlignAfterOperator
  BreakBeforeConceptDeclarations: true
  IndentRequires: false
  LambdaBodyIndentation: Signature
  UseCRLF: false
  UseTab: ForContinuationAndIndentation
  AttributeMacros:
      - SCL_MAYBE_UNUSED
      - SCL_NODISCARD
  AllowShortBlocksOnASingleLine: Empty
  AllowShortEnumsOnASingleLine: false
  AllowShortFunctionsOnASingleLine: Empty
  AllowShortLambdasOnASingleLine: Empty
  AllowShortLoopsOnASingleLine: false
...
