---
  BasedOnStyle: Google
  AccessModifierOffset: 0
  IndentAccessModifiers: true
  PPIndentWidth: -1
  ReferenceAlignment: Left
  PointerAlignment: Left
  QualifierAlignment: Custom
  QualifierOrder:
    - inline
    - static
    - constexpr
    - const
    - volatile
    - type
  AlignTrailingComments: true
  AllowShortIfStatementsOnASingleLine: Never
  AllowAllParametersOfDeclarationOnNextLine: false
  AlwaysBreakTemplateDeclarations: Yes
  BreakBeforeBraces: Attach
  ColumnLimit: 100
  ConstructorInitializerAllOnOneLineOrOnePerLine: true
  IncludeBlocks: Regroup
  IndentPPDirectives: BeforeHash
  IndentWidth: 4
  NamespaceIndentation: All
  BreakBeforeBinaryOperators: All
  BreakBeforeTernaryOperators: true
...
